$accent-color:#f9c06a;
$accent-color-hover: #fcb244;
$title-color:#603809;
$font-color:#707070;
$font-color-dark:#1e1e1e;
$ligh-background-color:#f8f8f8;
$navbar-height: 80px;
$container-padding:20px;
$box-shadow: 0 6px 12px 0 rgba($accent-color, .22);
$card-background-color:#FFF9F1;