@import "../utilities/mixins";

@include font-face('ClickerScript', '../assets/fonts/ClickerScript-Regular.woff2', 'normal');
@include font-face('PlayFairDisplay', '../assets/fonts/PlayfairDisplay-Regular.woff2', 'normal');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: unset;
}
ul, menu{
  list-style: none;
}
body{
  background-color: $ligh-background-color;
  font-family: 'PlayFairDisplay';
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
