@import "../abstract/variables";
@import "../component/menu";

.footer{
  background: linear-gradient(to right , rgba($coffee-color-dark, .88) , rgba($coffee-color-dark, .88)), url(../../dist/assets/images/footer.jpg);
  color: white;
  padding: 50px 0;
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    .footer__block:first-child { grid-area: 1 / 1 / 2 / 3; }
    .footer__block:last-child { grid-area: 3 / 1 / 4 / 3; }
    @media (min-width: 768px) {
      .footer__block:first-child { grid-area: 1 / 1 / 2 / 2; }
      .footer__block:last-child { grid-area: 1 / 2 / 2 / 3; }
    }
    @media (min-width: 992px) {
      grid-template-columns: minmax(300px, 2fr) 1fr 1fr minmax(300px, 2fr);
      .footer__block:first-child { grid-area: 1 / 1 / 2 / 2; }
      .footer__block:last-child { grid-area: 1 / 4 / 2 / 5; }
    }
    
  }
  &__block{
    @include flex(column, flex-start, flex-start, nowrap );
    gap: 20px;
    h2{
      font-family: 'ClickerScript';
      font-size: 54px;
      line-height: 1;
    }
    h3{
      margin-bottom: 20px;
      font-size: 24px;
    }
    p{
      font-size: 16px;
    }
    &:first-child{
      p{
        font-size: 14px;
      }
    }
    .social{
      @include flex(row, flex-start, center, nowrap);
      gap: 20px;
    }
  }
}