
.hero{
  @include flex;
  min-height: 100vh;
  color: white;
  background: {
    image: linear-gradient(90deg, #1E1E1E 0%, #1e1e1e90 100%),
              linear-gradient(90deg, #1e1e1e50 0%, #1E1E1E50 100%),
              url("../assets/images/hero_image.jpg");
    repeat: no-repeat;
    size: cover;
    position: top;
  }
  &__text{
    font-family: 'PlayFairDisplay';
    
    font-weight: 100;
    font-style: normal;
    font-size: clamp(1rem, 0.8438rem + 0.7813vw, 1.125rem);
    line-height: 1.7;
    margin-top: 0;
    text-align: center;
    @media (min-width: 576px) {
      text-align: left;
    }
    @media (min-width: 768px) {
      width: 550px;
    }
  }
  &__title{
    font: {
      family: 'ClickerScript';
      size: clamp(6.875rem, 3.75rem + 15.625vw, 9.375rem);
      weight: lighter;
    }
    line-height: 1;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 180px;
    }
  }
  &__subtitle{
    font-size: clamp(1rem, 0.6875rem + 1.5625vw, 1.25rem);
    font-weight: 500;
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    background: {
      image: linear-gradient(90deg, #1E1E1E 0%, #00000000 100%),
            linear-gradient(90deg, #1e1e1e50 0%, #1E1E1E50 100%),
            url("../assets/images/hero_image.jpg");
      repeat: no-repeat;
      size: cover;
      position: top;
    }
  }
}
.container--hero{
    @include flex(column, center, center, nowrap);
    padding-top: $navbar-height + $container-padding;
    gap:30px;
    @media (min-width: 576px) {
      align-items: flex-start;
    }
}
