
.enjoy{
  min-height: 100vh;
  @include flex(column, center, center, nowrap);
  &__title{
    font-size: 54px;
    font-weight: bold;
    color: $coffee-color;
    margin: 0;
    text-align: center;
  }
  &__subtitle{
    font-size: 20px;
    color: $font-color;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px
  }
}

.container--enjoy{
  @include flex(column, stretch, center, nowrap);
  gap: 16px;
}