
.enjoy{
  min-height: 100vh;
  margin-bottom: 50px;
  @include flex(column, center, center, nowrap);
  &__title{
    //font-size: 54px;
    font-size: clamp(1.875rem, 0rem + 9.375vw, 3.375rem);
    font-weight: bold;
    color: $coffee-color;
    margin: 0;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 54px;
    }
  }
  &__subtitle{
    //font-size: 20px;
    font-size: clamp(1.063rem, 0.5469rem + 1.9531vw, 1.25rem);
    color: $font-color;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  @media (min-width: 992px) {
    margin-bottom: 0px;
  }
}

.container--enjoy{
  @include flex(column, stretch, center, nowrap);
  gap: 16px;
}