.get{
  height: 550px;
  background: linear-gradient(to right , rgba($coffee-color-dark, .88) , rgba($coffee-color-dark, .88)), url(../../dist/assets/images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  margin: 50px 0;
  color:white;
  .container{
    height: 100%;
    @include flex(column, center, center, nowrap);
    gap: 20px;
  }
  &__title{
    font-size: clamp(1.875rem, 0rem + 9.375vw, 3.375rem);
    font-weight: bold;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 54px;
    }
  }
  &__text{
    font-size: clamp(1.063rem, 0.5469rem + 1.9531vw, 1.25rem);
    font-weight: 400;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  
}